*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */
.font-Inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  }

  .container{
    max-width: 1600px;
    width: 100%;;
    margin: 0 auto;
    /* height: 92px; */
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
  }
  .nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  .nav-logo{
    margin-top: 16px;
    margin-left: 120px;
    width: 139px;
    height: 60px;    
  }
 .nav-bar ul {
  display: flex;  
  color: #000;
}
.nav-menu li {
  list-style: none;
}
ul {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  gap: 32px;
  margin-top: 34px;
}
.nav-btn button{
      width: 164px;
      height: 44px;
      border: none;
      border-radius: 4px;
      margin-top: 24px;
      margin-right: 120px;
      font-size: 16px;
      font-weight: 600;
      color: white;
      cursor: pointer;
      background-color: #30B868
  /* .nav-menu ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: #000; */
  }

   