*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* shared style */

.font-Inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  }

.container{
    max-width: 1600px;
    width: 100%;;
    margin: 0 auto;  
  }
  
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.nav-menu {
    display: flex;       
    gap: 32px;           
    list-style: none;    
    padding: 0;
    margin-top: 34px;    
}

.nav-logo{
    margin-top: 16px;
    margin-left: 120px;
    width: 139px;
    height: 60px;    
  }

.nav-bar ul {
  display: flex;  
  color: #000;
}

.nav-menu li {
  list-style: none;
}

.nav-menu li{
  list-style: none;
}

.nav-menu a{
  text-decoration: none;
  color: #000; 
}

.nav-btn button{
      width: 164px;
      height: 44px;
      border: none;
      border-radius: 4px;
      margin-top: 24px;
      margin-right: 120px;
      font-size: 16px;
      font-weight: 600;
      color: white;
      cursor: pointer;
      background-color: #30B868  
  }

/* Nav sec done    */

/* Hero sec start from here */
.hero_section {
    background: linear-gradient(#001931CC, #001931CC), url(../Images/hero-bg.png);
    width: 100%;
    max-width: 1600px;
    margin-top: 39px;
    background-repeat: no-repeat;
    background-position: center;    
    height: 674px;
    display: flex;
    justify-content: center;
    text-align: center;
        
}
.banner{
  margin: 115.5px 120px 179.5px 120px;
}
.banner .btn_1{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
  width: 229px;
  height: 35px;
  border: none;
  background-color: #fff;
  border-radius: 1000px;
  font-size: 16px;
  font-weight: medium;
  color: #30B868;
  padding: 8px 12px 8px;
  margin-bottom: 16px;
  cursor: pointer;
}
.concentric-dot{
    width: 6px;   
    height: 6px;
    background-color: #30B868;
    border-radius: 50%;
    margin-left: 8px;    
    box-shadow: 0 0 0 3px rgba(48, 184, 104, 0.3), 0 0 0 5px rgba(48, 184, 104, 0.1); 
}
.banner h1{
font-style: Bold;
font-size: 72px;
font-weight: 700;
line-height: 84px;
letter-spacing: 0%;
text-align: center;
text-transform: capitalize;
color: white;
}
.banner h1 span{
  color: #30B868;
}
.banner p{
font-style: Regular;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
color: white;
margin-top: 16px;
}

.banner .btn_2{
width: 251px;
height: 52px;
margin-top: 32px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10;
padding: 12px 16px 12px 16px;
border: none;
border-radius: 4px;
background: #30B868;
font-style: Semi Bold;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-transform: capitalize;
color: white;
cursor: pointer;;
}

.banner .btn_3{
box-sizing: border-box;
width: 198px;
height: 52px;
margin-top: 32px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
padding: 12px 16px 12px 16px;
border: 1px solid rgba(255, 255, 255, 1);
border-radius: 4px;
background: transparent;
font-style: Semi Bold;
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
text-align: right;
color: white;
cursor: pointer;

}

.play-icon {
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 12px solid white;
    }

.hero-btns {
    display: flex;
    justify-content: center;
    gap: 16px;            
    margin-top: 32px;
}

/* Hero sec done    */

/* Cards section start from here */ 

.container_title {
    padding: 100px 120px;
    text-align: center;
    background-color: #F9FAFB;
}
.title_content h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 58px;
    color: #001931;
    margin-bottom: 16px;
  }

.title_content p{
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  color: #627382;
  margin-bottom: 44px;
}

.cards-row {
    display: flex;
    justify-content: center;
    align-items: stretch; 
    gap: 24px;
    max-width: 1360px;
    margin: 0 auto;
}

/* Individual Card Item */
.cards_item {
    flex: 1; 
    background: #FFFFFF;
    border: 1px solid #E4E7EB;
    border-radius: 12px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* The Red Circle (Ellipse) */
.icon_wrapper {
    width: 64px;
    height: 64px;
    background-color: #FF5E5E;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.icon_wrapper img {
    width: 28px;               
    height: auto;
    display: block;
}

/* 5. Card Content Spacing */
.card_content h3 {
    /* font-size: 20px; */
    color: #001931;
    margin-bottom: 12px;
    text-transform: capitalize;
}

.card_content p {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}

/* card sec done */
/* brain sec start from here */

.brain_sec{
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  /* margin-top: 120px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  
}
.brain_sec img{
  width: 600px;
  height: 600px;
  border-radius: 12px;
}
.brain_sec_content .dialougue{
  font-style: Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  color: #30B868;
  margin-bottom: 16px;
}
.brain_sec_content h2{
  font-family: Inter;
  font-style: Bold;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
  color: #001931;
  margin-bottom: 16px;
}

.brain_sec_content p{
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  color: #627382;
  margin-bottom: 40px;
}

.feature-list {
    list-style: none;
    padding: 0;
}

.feature-list li {
    display: flex;
    align-items: center; 
    margin-bottom: 16px; 
    font-size: 16px;
    color: #001931;
}

.feature-list li::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 6px;
    background-image: url('../Images/CheckCircle.png'); 
    background-size: contain;
    background-repeat: no-repeat;
}
/* feature sec don */

/* CTR sec start from here */
.ctr_sec{
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;  
}

.ctr_sec .ctr_sec_container {
    width: 100%;
    max-width: 1360px;
    height: 384px;
    background-color: #F7F6F2;
    margin: 120px auto; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    border-radius: 12px;
}


 .ctr_sec_content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.ctr_sec_content h2{
  font-style: Bold;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0%;  
  text-transform: capitalize;
  margin-top: 80px;
  margin-bottom: 16px;
}

.des_1{
  max-width: 580px;
  font-style: Regular;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: #627382;
  margin-bottom: 24px;
}

.ctr_sec_content button {
    width: 194px;
    height: 52px;
    display: flex;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-style: semi bold;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    text-transform: capitalize;
    margin-bottom: 16px;
    padding: 16.5px;
    cursor: pointer;
    margin: 0 auto 16px auto; 
}

.ctr_sec_content button img{
    width: 20px;             
    height: auto;
    display: block;
    margin-left: 10px;;
}

/* cta sec end here */

